.body {
  background-color: pink;
}

.shadowBox {
  transition: 0.5s ease-in;

  &:hover {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
}

.wrapper {

}

.navTop {

}

.fastCounsel {

}

.socials {

}

.navPrimary {
  background-color: #0e2d16;
}
