$brand-green: #0e2d16;
$boxShadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
$brandLightBeige: #aba097;
$brandYellowish: #b1a285;
$brandPurple: #93c;
$brandBlue: #0d47a1;
$brandRed: #c00;
$brandBeige: #807060;
$rgbaWhiteStrong: rgba(255, 255, 255, 0.75);
$rgbaBlackLight: rgba(0, 0, 0, 0.35);
@mixin overlay($bgColor:$rgbaBlackLight) {
  height: 100%;
  width: 100%;
  background-color: $bgColor;
}

@mixin background($height) {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: $height;
}

.body {
  background-color: pink;
}

.shadowBox {
  transition: 0.5s ease-in;

  &:hover {
    box-shadow: $boxShadow;
  }
}

.wrapper {

}

.navTop {

}

.fastCounsel {

}

.socials {

}

.navPrimary {
  background-color: $brand-green;
}

.offcanvas {
  width: 300px !important;
}

.mobileMenu {
  a {
    font-size: 1.1rem !important;

    & .active {
      font-weight: bold !important;
      color: $brand-green;
    }
  }

  li {
    padding: 0.75rem;
    line-height: 1.75;
  }
}

.frontCarousel {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border-radius: 1rem;


  .carouselInner {
    border-radius: 1rem;
    box-shadow: $boxShadow;

    .carouseItem {
      @include background(70vh);
      background-attachment: scroll;


      .carouselOverlay {
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.35);
      }

    }
  }
}

.frontPrograms {
  .sectionContent {
    padding: 4rem;
  }

  background-color: lighten($brandLightBeige, 25%);

  .programItem {
    border-radius: 1rem;

    a {
      color: $brand-green;

      img {
        border-radius: 1rem;
        object-fit: cover;
        object-position: center;
        height: 180px;
        width: 100%;
        margin-bottom: 1rem;

      }

      p {
        font-size: 1.1rem;

      }
    }
  }
}

.frontInfos {
  .card, img {
    border-radius: 1rem;
  }

  .socials {
    margin-top: 1rem;
    margin-bottom: 1rem;

    .card {
      border: none;
      border-radius: 3rem;
    }

    img {
      border-radius: 3rem;
    }
  }

  .infos {
    margin-top: 1rem;
    margin-bottom: 1rem;

    & .card .card-body {
      background-color: lighten($brandYellowish, 20%);
      min-height: 20rem;

      p {
        font-size: 1.1rem;
      }
    }
  }
}

.frontLatest {
  background-color: lighten($brandLightBeige, 25%);

  .latest-posts,
  .latest-reviews {
    &-header {
      padding-left: 0.5rem;
      border-left: 0.5rem solid $brandPurple;

      h4 {
        color: $brandPurple;
      }
    }

    .latest-post,
    .latest-review {
      margin-bottom: 1rem;
      border: 0;
      box-shadow: $boxShadow;

      &-featured {
        height: 13rem;

        & img {
          border-top-left-radius: 0.25rem;
          border-bottom-left-radius: 0.25rem;
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }

      &-text {
        a {
          text-decoration: none;
          color: $brandBlue;

          &:hover {
            color: lighten($brandBlue, 20%);
          }
        }

        p {
          font-size: 1.1rem;
          font-weight: lighter;
        }
      }
    }
  }
}

#frontMap {
  position: relative;

  #map {
    height: 500px;
  }

  .contact-us {
    color: #000000;
    position: absolute;
    font-size: 1.1rem;
    top: 4rem;
    right: 4rem;
    padding: 2rem;
    height: auto;
    background-color: $rgbaWhiteStrong;
    z-index: 3;
    transition: 0.5s ease-in-out;

    a {
      color: $brandRed;
    }

    &:hover {
      background-color: #ffffff;
      box-shadow: $boxShadow;
    }
  }
}

#footer {
  background-color: $brandBeige;
  color: #ffffff;

  .nav-footer {
    a {
      font-size: 1.1rem;
    }
  }

  .footer-information {
    p {
      font-size: 1.1rem;
      font-weight: 300;
    }

    .social {
      margin-top: 0.75rem;
      display: inline-block;
    }
  }

  .copyright {
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 300;
    margin-top: 1rem;
  }
}

/*page*/
#topBanner {
  background-image: url('../public/project2/images/project-1.jpg');
  @include background(60vh);
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.75rem;
  box-shadow: $boxShadow;

  .overlay {
    @include overlay;
    color: #ffffff;
    border-radius: 0.75rem;
  }
}


#blogContent {
  .grid-item {
    .card {
      margin-bottom: 1rem;
      transition: all 0.3s ease-in-out;

      &:hover {
        box-shadow: $boxShadow;
        transform: translateY(-8px);
      }

      .post-featured {
        @include background(12rem);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .post-text {
        .img-avatar {
          width: 18px;
          border-radius: 50%;
        }
      }

      a {
        color: $brandBlue;
        transition: 0.3s ease;

        &:hover {
          color: lighten($brandBlue, 20%);
        }
      }
    }
  }
}

#postContent {
  .post-meta {
    .img-avatar {
      width: 24px;
      border-radius: 50%;
    }
  }
}
